form {
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input[type="submit"] {
    cursor: pointer;
}
.fontcolor {
    color: white
}
h1 {
    text-align: center;
    font-size: 50px;
    color: white
}

/* homebar thing */
.topnav {
    background-color: #000000;
    overflow: visible;
    position: sticky;   /* Making navbar sticky */
    top: 0;             /* Stick to the top */
    z-index: 10;        /* Ensure it stays on top */
}

.topnav a {
float: right;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 10px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}
.t1 {
font-family: "Roboto", "Comfortaa", monospace;
}
.dropdown {
float: inline-start;
position: relative; /* This line is important */
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #000000;
min-width: 160px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: grid;
}

.rightform {
    position:relative;
    right: 1010px
}
